Support for datasets with non-standard calendars

Thank you for putting this great project together! 

I'd like to use this project to generate catalogs of datasets with **non-standard** calendars as defined by the [CF-conventions](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#calendar) and implemented by [`cftime`](https://github.com/Unidata/cftime). Right now this fails due to the assumption made in 


https://github.com/TomAugspurger/xstac/blob/ee23ba5cb1409d75d7fb334e5f10b1b442b234f5/xstac/_xstac.py#L59-L62


- I wondered if this could be relaxed and/or whether there's a workaround for datasets with these non-standard calendars other than setting the `time_extent` to null...

- Presuming the assumption above can be relaxed, would the STAC browser know how to handle these non-standard calendar types?






```python
<xarray.Dataset>
Dimensions:                (time: 10, z_t: 60, nlat: 384, nlon: 320, d2: 2)
Coordinates:
  * z_t                    (z_t) float32 500.0 1.5e+03 ... 5.125e+05 5.375e+05
    ULONG                  (nlat, nlon) float64 dask.array<chunksize=(384, 320), meta=np.ndarray>
    ULAT                   (nlat, nlon) float64 dask.array<chunksize=(384, 320), meta=np.ndarray>
    TLONG                  (nlat, nlon) float64 dask.array<chunksize=(384, 320), meta=np.ndarray>
    TLAT                   (nlat, nlon) float64 dask.array<chunksize=(384, 320), meta=np.ndarray>
  * time                   (time) object 1851-01-01 00:00:00 ... 1860-01-01 0...
Dimensions without coordinates: nlat, nlon, d2
Data variables:
    CaCO3_ALT_CO2_FLUX_IN  (time, z_t, nlat, nlon) float32 dask.array<chunksize=(10, 60, 384, 320), meta=np.ndarray>
    time_bound             (time, d2) object dask.array<chunksize=(10, 2), meta=np.ndarray>
Attributes:
    title:             b.e21.BHISTcmip6.f09_g17.LE2-1001.001
    history:           none
    Conventions:       CF-1.0; http://www.cgd.ucar.edu/cms/eaton/netcdf/CF-cu...
    time_period_freq:  year_1
    model_doi_url:     https://doi.org/10.5065/D67H1H0V
    contents:          Diagnostic and Prognostic Variables
    source:            CCSM POP2, the CCSM Ocean Component
    revision:          $Id$
    calendar:          All years have exactly  365 days.
    start_time:        This dataset was created on 2020-01-31 at 18:08:43.9
    cell_methods:      cell_methods = time: mean ==> the variable values are ...
```


<details>
<summary>Here's the error I get</summary>

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
/glade/scratch/abanihi/ipykernel_183085/1845692256.py in <module>
----> 1 pd.to_datetime(
      2             np.concatenate([time.min(keepdims=True), time.max(keepdims=True)])
      3         )

/glade/work/abanihi/opt/miniconda/envs/playground/lib/python3.8/site-packages/pandas/core/tools/datetimes.py in to_datetime(arg, errors, dayfirst, yearfirst, utc, format, exact, unit, infer_datetime_format, origin, cache)
    910             result = _convert_and_box_cache(arg, cache_array)
    911         else:
--> 912             result = convert_listlike(arg, format)
    913     else:
    914         result = convert_listlike(np.array([arg]), format)[0]

/glade/work/abanihi/opt/miniconda/envs/playground/lib/python3.8/site-packages/pandas/core/tools/datetimes.py in _convert_listlike_datetimes(arg, format, name, tz, unit, errors, infer_datetime_format, dayfirst, yearfirst, exact)
    399     assert format is None or infer_datetime_format
    400     utc = tz == "utc"
--> 401     result, tz_parsed = objects_to_datetime64ns(
    402         arg,
    403         dayfirst=dayfirst,

/glade/work/abanihi/opt/miniconda/envs/playground/lib/python3.8/site-packages/pandas/core/arrays/datetimes.py in objects_to_datetime64ns(data, dayfirst, yearfirst, utc, errors, require_iso8601, allow_object, allow_mixed)
   2173     order: Literal["F", "C"] = "F" if flags.f_contiguous else "C"
   2174     try:
-> 2175         result, tz_parsed = tslib.array_to_datetime(
   2176             data.ravel("K"),
   2177             errors=errors,

/glade/work/abanihi/opt/miniconda/envs/playground/lib/python3.8/site-packages/pandas/_libs/tslib.pyx in pandas._libs.tslib.array_to_datetime()

/glade/work/abanihi/opt/miniconda/envs/playground/lib/python3.8/site-packages/pandas/_libs/tslib.pyx in pandas._libs.tslib.array_to_datetime()

/glade/work/abanihi/opt/miniconda/envs/playground/lib/python3.8/site-packages/pandas/_libs/tslib.pyx in pandas._libs.tslib._array_to_datetime_object()

/glade/work/abanihi/opt/miniconda/envs/playground/lib/python3.8/site-packages/pandas/_libs/tslib.pyx in pandas._libs.tslib.array_to_datetime()

TypeError: <class 'cftime._cftime.DatetimeNoLeap'> is not convertible to datetime
```

</details>

Thanks Anderson. Looking at (https://github.com/radiantearth/stac-spec/blob/master/item-spec/item-spec.md#datetime and https://github.com/radiantearth/stac-spec/blob/master/collection-spec/collection-spec.md#temporal-extent-object)

> All times in STAC metadata should be in Coordinated Universal Time (UTC).

and

> Timestamps consist of a date and time in UTC and MUST be formatted according to RFC 3339, section 5.6. The temporal reference system is the Gregorian calendar.

So maybe that halfway answers our question. Whatever we write into the STAC catalog *has* to be UTC and in the Gregorian calander, so we can't directly take the `time` coordinates and assume they're valid for STAC metadata.

That said, perhaps we could support these kinds of datasets by (correctly) converting from whatever `time` coordinates we have to Gregorian / UTC? Then whatever ends up in the STAC JSON would be valid for STAC (but the data would still be in their "native" non-standard calendar).


One thing worth mentioning explicitly: I think that this means people doing things from the STAC side will *have* to do their work in standard calendar. So if you want something like "give me all the items on <this> datetime", that query has to be done in standard units. Then you'd get back the matching collection / item assets, and would be working in the non-standard calendar. That's not great, but seems to be unavoidable unless STAC understands non-standard calendars.

Thank you for the clarification, Tom! 

> That said, perhaps we could support these kinds of datasets by (correctly) converting from whatever time coordinates we have to Gregorian / UTC? Then whatever ends up in the STAC JSON would be valid for STAC (but the data would still be in their "native" non-standard calendar).

👍🏽 

https://github.com/pydata/xarray/pull/5233 introduces a `convert_calendar` method wich seems to make this conversion straightforward:


```python

print(ds.time)
print("*"*80)
print(ds.convert_calendar('gregorian')['time'])
```

```python
<xarray.DataArray 'time' (time: 10)>
array([cftime.DatetimeNoLeap(1851, 1, 1, 0, 0, 0, 0, has_year_zero=True),
       cftime.DatetimeNoLeap(1852, 1, 1, 0, 0, 0, 0, has_year_zero=True),
       cftime.DatetimeNoLeap(1853, 1, 1, 0, 0, 0, 0, has_year_zero=True),
       cftime.DatetimeNoLeap(1854, 1, 1, 0, 0, 0, 0, has_year_zero=True),
       cftime.DatetimeNoLeap(1855, 1, 1, 0, 0, 0, 0, has_year_zero=True),
       cftime.DatetimeNoLeap(1856, 1, 1, 0, 0, 0, 0, has_year_zero=True),
       cftime.DatetimeNoLeap(1857, 1, 1, 0, 0, 0, 0, has_year_zero=True),
       cftime.DatetimeNoLeap(1858, 1, 1, 0, 0, 0, 0, has_year_zero=True),
       cftime.DatetimeNoLeap(1859, 1, 1, 0, 0, 0, 0, has_year_zero=True),
       cftime.DatetimeNoLeap(1860, 1, 1, 0, 0, 0, 0, has_year_zero=True)],
      dtype=object)
Coordinates:
  * time     (time) object 1851-01-01 00:00:00 ... 1860-01-01 00:00:00
Attributes:
    long_name:  time
    bounds:     time_bound
********************************************************************************
<xarray.DataArray 'time' (time: 10)>
array(['1851-01-01T00:00:00.000000000', '1852-01-01T00:00:00.000000000',
       '1853-01-01T00:00:00.000000000', '1854-01-01T00:00:00.000000000',
       '1855-01-01T00:00:00.000000000', '1856-01-01T00:00:00.000000000',
       '1857-01-01T00:00:00.000000000', '1858-01-01T00:00:00.000000000',
       '1859-01-01T00:00:00.000000000', '1860-01-01T00:00:00.000000000'],
      dtype='datetime64[ns]')
Coordinates:
  * time     (time) datetime64[ns] 1851-01-01 1852-01-01 ... 1860-01-01
Attributes:
    long_name:  time
    bounds:     time_bound
```


> One thing worth mentioning explicitly: I think that this means people doing things from the STAC side will have to do their work in standard calendar. So if you want something like "give me all the items on datetime", that query has to be done in standard units. 

I think this would suffice as a first pass. There may be some edges cases, but good documentation should help address these cases until these non-standard calendars become first-class citizens in STAC spec. 


In the meantime, I am going to explore `xstac` codebase to see if I can get it to work locally, and I will submit PRs and/or open issues if need be. 


 



Done in #26. Hopefully it works.